.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--grey-rgb);

	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.5s;
	padding: var(--n-padding);

	&__content {
		width: 100%;
		min-width: 320px;
		max-width: 380px;
		background-color: var(--second-bg);
		border-radius: var(--bradius);
		border: 1px solid var(--primary-500);
		box-shadow: var(--box-shadown);
		position: relative;

		&::after {
			content: '\00D7';
			display: block;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			border: 1px solid var(--primary-500);
			border-radius: var(--bradius);
			width: 40px;
			height: 40px;
			text-align: center;
			top: -40px;
			right: 0;
			font-size: var(--header-font);
			pointer-events: none;
		}
	}

	&.hidden {
		transform: scale(0);
	}

	&__poke {
		position: relative;
		overflow: hidden;
		padding: var(--n-padding);
	}

	&__name,
	&__type {
		position: absolute;
		top: 20px;
		margin: 0;
		text-transform: capitalize;
	}

	&__name {
		left: 20px;
	}
	&__type {
		right: 20px;
		background-color: var(--primary-500);
		border-radius: var(--bradius);
		min-width: 80px;
		padding: 3px 0;
		text-align: center;
		font-size: var(--details-font);
	}

	&__body {
		border-radius: var(--bradius);
		background-color: var(--first-bg);
		padding-top: var(--x-padding);
		box-shadow: var(--box-shadown);
	}

	&__container-img {
		padding-bottom: var(--x-padding);
	}

	&__img {
		display: block;
		height: 180px;
		transform: translateY(50px);
		margin-left: auto;
		margin-right: auto;
	}
}

.stats,
.about {
	display: flex;
	gap: var(--n-gap);

	&__title {
		text-align: center;
		margin-bottom: var(--n-margin);
		color: var(--primary-500);
	}

	.stats__content {
		padding: var(--s-padding);
		padding-left: 0;

		& p {
			margin: 0;
		}
		&:last-child {
			width: 100%;
		}
	}

	&__progress {
		display: block;
		display: flex;
		align-items: center;
		gap: var(--s-gap);

		& > progress {
			display: block;
			width: 100%;
		}
	}
}

.about {
	justify-content: space-between;
	gap: 0;

	&__text {
		padding: 0 var(--s-padding);
		text-align: center;
		border-right: 1px solid var(--border-color);
		width: 100%;
		margin-top: 0;

		&:last-child {
			border: none;
		}

		& > span {
			display: block;
			font-size: var(--details-font);
		}
	}
}
