.pokemon {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, auto));
	justify-content: center;
	gap: var(--n-gap);
	padding: var(--x-padding) 0;

	&__content {
		background-color: var(--first-bg);
	}

	&__card {
		width: 100%;
		padding: var(--n-padding);
		text-align: center;
		background-color: var(--second-bg);
		// background-color: var(--grey-900);
		border: 1px solid var(--border-color);
		box-shadow: var(--box-shadow);
		border-radius: var(--bradius);
		display: flex;
		flex-direction: column;
		gap: var(--s-gap);
		overflow: hidden;
	}

	&__name {
		margin: 0;
		font-size: var(--subtitle-font);
	}

	&__text {
		margin: 0;
	}

	&__container {
		margin-bottom: auto;
		// background-color: red;
		height: 200px;

		border: 1px solid var(--border-color);
		border-radius: var(--bradius);
		// border-radius: 50%;
		background-color: var(--grey-900);
	}

	&__image {
		display: block;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		// transform: translate3d();
		// transform: translateX(19px) rotate(360deg);
		animation: rotates 5s ease-in-out infinite;
	}
}
.filter {
	visibility: hidden;
	opacity: 0;
	order: 1;
}
@keyframes ratates {
	0% {
		transform: rotate3d(0);
	}
	50% {
		transform: rotate3d(360deg);
	}
	100% {
		transform: rotate3d(0);
	}
}
