.pokemon {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, auto));
	justify-content: center;
	gap: var(--n-gap);
	padding: var(--x-padding) 0;

	&__content {
		background-color: var(--first-bg);
		text-align: center;
	}

	&__card {
		width: 100%;
		padding: var(--n-padding);
		text-align: center;
		background-color: var(--second-bg);
		border: 1px solid var(--border-color);
		box-shadow: var(--box-shadow);
		border-radius: var(--bradius);
		display: flex;
		flex-direction: column;
		gap: var(--s-gap);
		overflow: hidden;
		transition: transform 0.5s;

		&:hover {
			transform: scale(0.98);
		}
	}

	&__name {
		margin: 0;
		font-size: var(--subtitle-font);
		color: var(--text-color);
		text-transform: capitalize;
		pointer-events: none;
	}

	&__text {
		text-transform: capitalize;
		font-size: var(--details-font);
		margin-left: auto;
		margin-right: auto;
		padding: 0 var(--s-padding);
		min-width: 100px;
		background-color: var(--primary-900);
		box-shadow: var(--box-shadow);
		color: var(--text-color);
		border-radius: var(--bradius);
		pointer-events: none;
		padding: 3px 0;
	}

	&__container {
		margin-bottom: auto;
		height: 200px;
		border-radius: var(--bradius);
		background-color: var(--third-bg);
		box-shadow: var(--box-shadow);
		pointer-events: none;
	}

	&__image {
		display: block;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}
.filter {
	visibility: hidden;
	opacity: 0;
	order: 1;
}
