.search {
	padding: var(--n-padding);
	background-color: var(--first-bg);

	&__content {
		padding-bottom: var(--n-padding);
		border-bottom: 1px solid var(--border-color);
	}

	&__input {
		display: block;
	}
}
