body {
	font-family: var(--main-font);
	font-size: var(--body-font);
	transition: var(--transition);
	color: var(--text-color);
	background-color: var(--first-bg);
}

// ==> Container general <==

.container {
	max-width: var(--screen);
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	overflow: hidden;
}
