// MEDIAS QUERYS

:root {
	--phones: 600px;
	--tablets: 768px;
	--laptops: 992px;
	--desktop: 1200px;
	--screen: 1440px;
}

$--phones: 600px;
$--tablets: 768px;
$--laptops: 992px;
$--desktop: 1200px;
$--screen: 1440px;

$breakpoints: (
	phones: $--phones,
	tablets: $--tablets,
	laptops: $--laptops,
	desktop: $--desktop,
	screen: $--screen,
);

// ==> Padding <==

:root {
	--s-padding: 0.5rem;
	--n-padding: 1rem;
	--l-padding: 1.5rem;
	--x-padding: 2rem;
}

// ==> Margins <==

:root {
	--s-margin: 0.5rem;
	--n-margin: 1rem;
	--l-margin: 1.5rem;
	--x-margin: 2rem;
}

// ==> Border Radius <==

:root {
	--bradius: 0.4rem;
	--bradius-second: 0.8rem;
}

// ==> Z-index <==

:root {
	--z-back: -10;
	--z-normal: 1;
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;
}

// ==> Gaps <==

:root {
	--s-gap: 0.5rem;
	--n-gap: 1rem;
	--l-gap: 1.5rem;
	--x-gap: 2rem;
}

// ==> Heights <==

:root {
	--header-height: 4rem;

	@include breakpoint(laptops) {
		--header-height: 4.5rem;
	}
}

// ==> Box-shadow <==

:root {
	--box-shadow: 0 2px 16px -3px rgba(0, 0, 0, 20%);
}

// ==> Transitions <==

:root {
	--transition: background-color 0.5s ease-in, color 0.4s, border-color 0.2s;
	--transition-scale: transform 0.3s;
	--transform-scale: scale(0.98);
}

// ==> project card widths and heights <==

:root {
	--height-image: 320px;
	--width-card: 240px;
}
