doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Pokemon API
		link(rel="shortcut icon", href="./assets/images/purihuaman.svg", type="image/x-icon")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Creepster&family=Mulish:wght@400;700;800&display=swap" rel="stylesheet")
	body.dark
		.home
			.home__image-container
				img(src="./assets/images/pokemon.jpg", alt="").home__image

			header.header
				.container
					.header__content
						a(href="./index.html" class="header__link") Pokemon

						.networks
							a(href="https://twitter.com/purihuamanp" class="networks__link" class='@purihuamanp' rel="nofollow noopener noreferrer" target="_blank")
								img(src="./assets/icons/twitter.svg" alt="" class='networks__image')

							a(href="https://github.com/purihuaman/poke-api" class="networks__link" class='@purihuamanp' rel="nofollow noopener noreferrer" target="_blank")
								img(src="./assets/icons/github.svg" alt="" class='networks__image')

			.banner
				h1.banner__title Api de Pokemon
				p.banner__text Encuentra tu pokemon favorito
				.search
					.search__content
						input(type="text" id="searchPoke" placeholder="Buscar" class="search__input" autofocus)

			main.main

				.container
					section.pokemon__content
						.pokemon#pokemon

						nav.navegation#navegation
							a(class='button') Anterior
							a(class='button') Siguiente
					
					.modal.hidden#modal
						.modal__content 
							template#template
								article.modal__poke(data-pokecard)
									div.modal__container-img 
										img(src="" alt="" data-img class='modal__img')
									h3.modal__name(data-name)
									p.modal__type(data-type)

									.modal__body
										h4.stats__title About

										div.about
											p.about__text
												span(data-weight)
												span Weight
											p.about__text
												span(data-height)
												span Height

										h4.stats__title Base Status
										div(class='stats') 
											div(class='stats__content')
												p HP
												p ATK
												p DEF
												p SATK
												p SDEF
												p SPD
											div(class='stats__content')
												span.stats__progress
													p(data-hp) 
													progress( max="300" data-progHP)
												span.stats__progress
													p(data-atk) 
													progress( max="300" data-progATK)
												span.stats__progress
													p(data-def) 
													progress( max="300" data-progDEF)
												span.stats__progress
													p(data-satk) 
													progress( max="300" data-progSATK)
												span.stats__progress
													p(data-sdef) 
													progress( max="300" data-progSDEF)
												span.stats__progress
													p(data-spd) 
													progress( max="300" data-progSPD)

			footer.footer
				.container
					.footer__content
						p(class="footer__text") Desarrollado por 
							b(class='footer__bold')
								a(href="https://purihuaman.netlify.app/" title='Pedro Purihuaman' target='_blank') Pedro Purihuaman
							| &nbsp;- &copy; 2021
