/* Estilos base */
body {
	font-weight: 400;
	color: var(--text-color);
	font-size: var(--normal-font-size);
	transition: var(--transition);
	background-color: var(--bg-color);
}


.content {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}


// Header
.header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: var(--z-index300);
	width: 100%;
	height: var(--header-height);
	background-color: var(--bg-card-color);
	transition: var(--transition);
	box-shadow: var(--box-shadow);

	&__content {
		height: inherit;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

// Main
.main {
	padding: var(--small-padding);
	position: relative;
	z-index: 100;
	margin-top: var(--header-height);

// Contenedor de las columnnas
	&__content {
		display: grid;
		gap: var(--large-gap);
		transition: var(--transition);
	
		padding: var(--large-padding) 0;

		@media screen and (min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
			overflow: hidden;
		}
	}
}

// // Footer
.footer {
	position: relative;
	z-index: 100;
	background-color: var(--bg-card-color);

	&__title {
		text-align: center;
	}
}

.header,
.footer {
	padding: 0 var(--small-padding);
	
	@media screen and (min-width: 1024px) {
		padding: 0 var(--normal-padding);
	}
}