/* Estilos base */
body {
	font-weight: 400;
	color: var(--text-color);
	font-size: var(--normal-font-size);
	transition: var(--transition);
}


.content {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}


// Header
.header {
	height: var(--header-height);

	&__content {
		height: inherit;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header,
.main,
.footer {
	padding: 0 var(--small-padding);
	
	@media screen and (min-width: 1024px) {
		padding: 0 var(--normal-padding);
	}
}
// Footer
.footer {
	&__content {
		padding: var(--normal-padding) 0;
		text-align: center;
	}
}