
.header {

	&__link {
		text-decoration: none;
		font-family: var(--titles-font);
		font-size: var(--h1-font-size);
	}

	&__image {
		height: 38px;
	}
}

.banner {
	position: relative;
	
	&__image {
		// position: relative;
		// display: flex;
		justify-content: center;
		align-items: center;
	}
	
	&__content {
		background-image: linear-gradient(0deg, rgba(17, 20, 31, 0.6), rgba(17, 20, 31, 0.5));
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&::before,
		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 90px;
			position: absolute;
		}
		
		&::before {
			top: 0;
			background-image: linear-gradient(180deg, #282828 0%, #11141F 0.01%, rgba(17, 20, 31, 0) 100%);
		}
		
		&::after {
			bottom: 0;
			background-image: linear-gradient(180deg, rgba(17, 20, 31, 0) 0%, #11141F 100%);
		}
	}

	&__title{
		font-size: calc( var(--h1-font-size) + var(--h2-font-size) );
	}

	&__title,
	&__text {
		margin: 0;
	}
	&__text {
		font-size: var(--h3-font-size);
		color: var(--dark-three);
	}
}

.pokemon {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	justify-items: center;
	gap: var(--normal-gap);
	padding: var(--normal-padding) 0;


	&__card {
		width: 100%;
		max-width: 320px;

		background-color: var(--bg-card-color);
		text-align: center;
		border-radius: var(--border-radius);
		padding: var(--normal-padding);
	}

	&__name,
	&__text {
		margin: var(--small-margin) 0;
	}
	
	&__name {
		font-size: var(--h2-font-size);
		font-style: italic;
	}
	
	&__text {
		color: var(--dark-three);
		text-transform: capitalize;
	}

	&__image {
		margin-left: auto;
		margin-right: auto;
		height: 140px;
	}
}

.networks {
	display: flex;
	align-items: center;
	gap: var(--small-gap);

	&__link {
		display: block;
		text-decoration: none;
		border-radius: 50%;
		padding: var(--small-padding);
	}

	&__image {
		height: 24px;
		width: 24px;
	}
}

.footer {
	&__content {
		padding: var(--normal-padding) 0;
		text-align: center;
	}

	&__text {
		margin: 0;
	}
}